* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-size: 1.6rem;
}
main {
  background: linear-gradient(to bottom, #b068e9 0%, #6463e7 60%, #6463e7 100%);
  display: grid;
  height: 100vh;
  place-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.center {
  background-color: white;
  width: 920px;
  height: 509px;
  border-radius: 15px;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left {
  display: grid;
  align-items: center;
  height: 100%;
  margin-left: -3rem;
}

.left figure {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.left figure img {
  width: 100%;
  height: 100%;
}

.right {
  margin: 2rem 2rem 4rem 0;
}

.right h1 {
  font-size: 32px;
  font-weight: bold;
}

.inner_right {
  display: grid;
  border-bottom: 2px solid #e8e8ea;
  padding: 2rem 2rem 2rem 0;
  margin-bottom: -20px;
  font-size: 1.1rem;
}

.questions {
  display: flex;
  justify-content: space-between;
}

.questions h3 {
}

.questions span {
  color: red;
  font-size: 1rem;
}

.answers {
  color: #787887;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .center {
    grid-template-columns: 1fr;
  }

  .left {
    grid-template-columns: 1fr;
  }
}

/*OLd*/
/* .center > h3 {
  margin-top: 2rem;
  margin-left: 2rem;
}

.center > h4 {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2.5rem;
  line-height: 1.7;
  color: lightgrey;
}



.header {
  font-size: 2rem;
  margin-top: 2rem;
  margin-left: 2rem;
}

.questions {
  margin-top: 1rem;
  margin-left: 2rem;
}

.questions > h3 {
  padding-top: 4rem;
}

.icon {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.icon_style {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: blueviolet;
  display: grid;
  place-items: center;
  cursor: pointer;
} */

/* ME */
.main-section {
  width: 92rem;
  padding: 6.5rem 4rem;

  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.left-section {
  /* width: 100%; */
  display: grid;
  place-items: center;
  height: 100%;
}
.image {
  height: 45vh;
  width: 70%;
  background-color: orangered;
  clip-path: polygon(0 0, 72% 0, 100% 100%, 31% 100%);
  margin-left: -6rem;
}
.right-section {
  /* background-color: violet; */
}
.faq-container {
  margin-bottom: 4rem;
}
.faq-container h3 {
  margin-bottom: 2rem;
}
.underline {
  border-bottom: solid 1px #eee;
  margin-top: 1rem;
}
.question {
  cursor: pointer;
  margin-bottom: 2rem;
  padding: 1rem;
}
@media only screen and (max-width: 600px) {
  main {
    background: #b068e9;
    height: fit-content;
  }
  .main-section {
    grid-template-columns: 1fr;
    width: 33rem;
    padding: 3rem;
  }
  .left-section {
    margin-left: 0;
  }
  .image {
    transform: translateY(-5rem);
  }
}
